# OS stuff
thumbs.db
.directory

# compiler garbages
*.obj
*.o

# final binaries
*.lib
*.a
*.exe

# nix module unittests, ignore all in import/ except sources
import/*
!import/*.d

# misc
*.map
*.bak
temp